<section id="benefits" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
        <h2 class="section-heading">Prayer Works Better<br/>When We Are Together!</h2>
        <h4>Let this be a safe place for you.<br/>
            Let your heart connect to God and to people who can help you pray.</h4>
        <p>
            The benefits of praying together in this site:</p>
            <h3>Your prayers are heard.<br/>
                Your prayers are valid.<br/>
                You are assured that someone out there is praying with you and for you.<br/>
                You can choose to be anonymous.<br/>
                People are praying for you without biases and judgment.<br/>
                You are welcome.</h3>
                <p><br/><br/><br/><br/><br/><br/><br/></p>
    </div></div></div>
</section>