<header id="benefits">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="header-content">
                    <div class="header-content-inner text-center">
                        <h1 class="section-heading">Prayer Works Better<br /><small>WHEN WE ARE TOGETHER!</small></h1>
                        <h3><strong>Let this be a safe place for you.</strong><br />
                            Let your heart connect to God and to people who can help you pray.</h3>
                        <h4><br />The benefits of praying together in this site:</h4>
                        <p>Your prayers are heard.<br />
                            Your prayers are valid.<br />
                            You are assured that someone out there is praying with you and for you.<br />
                            You can choose to be anonymous.<br />
                            People are praying for you without biases and judgment.<br />
                            You are welcome.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>