
<section id="contact" class="contact bg-primary">
    <div class="container">
        <h2>We <i class="fa fa-heart"></i> new friends!</h2>
        <ul class="list-inline list-social">
            {% for network in site.social %}
            <li class="social-{{ network.title }}">
                <a href="{{ network.url }}" class="btn-social" title="{{ network.title }}" target="_blank"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
            </li>
        {% endfor %}
        </ul><br/>
        <a href="https://www.buymeacoffee.com/pray4othersapp"><img src="https://img.buymeacoffee.com/button-api/?text=Buy the team coffee&emoji=&slug=pray4othersapp&button_colour=d11b83&font_colour=ffffff&font_family=Cookie&outline_colour=ffffff&coffee_colour=FFDD00" /></a>
    </div>
</section>
<footer>
    <div class="container">
        <p>Copyright &copy; 2022 Lakas Digital Network. All Rights Reserved.</p>
        <ul class="list-inline">
            <li>
                <a href="/privacy">Privacy</a>
            </li>
            <li>
                <a href="/terms">Terms</a>
            </li>
        </ul>
    </div>
</footer>
