<section id="portfolio" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Thank You! <i style="color:#21cddb" class="fa fa-globe"></i></h2>
                <h3>From The Bottom Of Our Hearts!</h3>
                <hr style="padding-bottom: 50px;">
                <p>
                    This will definitely go a long way in helping us continue to improve our app and website, and push through in our mission to connect the world through prayers. 
                </p>
                {% if site.data-ad-client %}
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- jekynewage -->
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="{{ site.data-ad-client }}"
                    data-ad-slot="{{ site.data-ad-slot }}"
                    data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                {% endif %}
            </div>
        </div>
    </div>
</section>