<section id="donations-no-worries" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Don't Worry About It! <i style="color:#21cddb" class="fa fa-globe"></i></h2>
                <p>I'm sure you want to support us but just not able to do it financially at this point.</p>
                <hr>
                {% if site.data-ad-client %}
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- jekynewage -->
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="{{ site.data-ad-client }}"
                    data-ad-slot="{{ site.data-ad-slot }}"
                    data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                {% endif %}
                <h3>That's OK!</h3>
                <p>There are other ways to help! For example, you can support us by sharing about us through the buttons below.</p>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.pray4others.com" class="portfolio-box" rel="noopener noreferrer">
                    <img src="/img/portfolio/facebook.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Facebook
                            </div>
                            <div class="project-name">
                                Share the project via Facebook
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a target="_blank" href="https://twitter.com/home?status=Hey!%20Please%20help%20%40The%20Prayers%20Warriors%20Team%20grow%20their%20website%20by%20sharing%20https%3A//pray4others.com%20to%20your%20friends" class="portfolio-box" rel="noopener noreferrer">
                    <img src="/img/portfolio/twitter.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Twitter
                            </div>
                            <div class="project-name">
                                Share the project via Twitter
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url=http://www.pray4others.com/&title=Prayer%20Warriors&summary=Hey%20Please%20help%20The%20Prayer%20Warriors%20grow%20their%20site%20by%20sharing%20it&source=LinkedIn" class="portfolio-box" rel="noopener noreferrer">
                    <img src="/img/portfolio/linkedin.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                LinkedIn
                            </div>
                            <div class="project-name">
                                Share the project via LinkedIn
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

