<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Hi! I'm Ryan, one of the founders of Pray 4 Others.</h1>
                        <p>Thank you in advance for helping advance our mission to connect the world through prayers</p>
                        <a href="https://www.paypal.com/donate/?hosted_button_id=3RXDMAMR3TZB4"> <img src="/img/donate-with-paypal.png" class="img-responsive" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-2">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <img src="/img/demo-screen-1.jpg" class="img-responsive" alt="">
                                <!-- TODO:  Update screen to appeal to donations -->
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>    