<section id="terms" class="download bg-secondary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Terms and Conditions<i style="color:brown" class="fa fa-coffee"></i></h2>

                <h3 class="text-left">Article 1. Purpose</h3>
                <ol class="text-left" type="a">
                    <li>The terms and conditions for the use of the PRAYER WARRIORS service (hereinafter referred to as
                        the “Service Terms and Conditions”) shall refer to the terms, conditions, and policies set forth
                        herein (hereinafter referred to as the “Terms and Conditions”) and any additional terms and
                        conditions that may be added in the future (e.g., Paid Services Terms and Conditions). • Privacy
                        Policy: https://www.pray4others.com/privacy/
                        <!-- • Service Operation Policy : https://weverse.io/policies/service • Paid Service Terms And Conditions: https://weverse.io/policies/paid • Weverse Subs Terms Of Use: https://weverse.io/policies/subs -->
                    </li>
                    <li>The purpose of the Service Terms and Conditions is to clearly define the legal relationship
                        between PRAYER WARRIORS (hereinafter referred to as the “Company”) and users (hereinafter
                        referred to as “Members”) who have entered into an agreement (hereinafter referred to as the
                        “User Agreement”) in accordance with the Terms and Conditions to use Weverse services offered
                        through the cybermall operated by the Company (hereinafter referred to as the “Service”).</li>
                    <li>The Company shall disclose the Terms and Conditions and the Privacy Policy on the starting page
                        of the Service so that they are easily noticeable by Members.</li>
                </ol>

                <h3 class="text-left">Article 2. Creation and Use of Weverse Accounts</h3>
                <ol class="text-left" type="a">
                    <li>A "prayer warrior account" is a login account created by a Member to use the Service provided by
                        the Company. A "prayer warrior account" is created once the Member agrees with the Terms and
                        Conditions and enters his/her account information, and the Company authenticates such
                        information (by verifying the Member’s e-mail address).</li>
                    <li>A "prayer warrior account" is required in order to seamlessly use the Service provided by the
                        Company. However, certain menus and services may be available for use without a weverse account.
                    </li>
                    <li>After creating "prayer warrior account", Members may access the full range of Prayer Warrior
                        related services provided by the Company. However, Members will be asked to provide their
                        consent to the terms and conditions for use of new services provided by the Company when logging
                        in to use such services or the first time.</li>
                </ol>

                <h3 class="text-left">Article 3. Formation of the User Agreement</h3>
                <ol class="text-left" type="a">
                    <li>The User Agreement is concluded when an individual who wishes to become a Member (hereinafter
                        referred to as the 'Applicant') applies for membership after agreeing to the contents of the
                        Terms and Conditions, and the Company approves the application. The Applicant shall attain
                        status as a Member when the Company approves his/her application and the User Agreement is
                        concluded. Thereafter, such Member shall be eligible to use the Service in accordance with the
                        Terms and Conditions.</li>
                    <li>The Company may collect (personal) information such as the e-mail address of the Applicant in
                        the course of concluding the User Agreement, and, in such cases, the Applicant shall provide
                        correct (not false) information. The collection, use and storage of personal information in this
                        paragraph (b) shall be governed by the Company’s Privacy Policy which shall be disclosed
                        separately on the starting page of the Service.</li>
                    <li>If the Company determines that it may be improper to approve an application for membership
                        submitted by an Applicant due to reasonable suspicions that the application is an attempt to
                        mechanically access the system for the Service, an attempt to fraudulently use an account,
                        involves the provision of false information, or the Applicant is attempting to abuse the
                        Service, etc., the Company may postpone or deny the approval of the application, or terminate
                        the User Agreement following approval.</li>
                    <li>The Company shall not provide the Service to children.</li>
                </ol>

                <h3 class="text-left">Article 4. Amendment of the Term and Conditions</h3>
                <ol class="text-left" type="a">
                    <li>The Company may amend the Terms and Conditions to the extent permitted under relevant laws and
                        regulations. </li>
                    <li>In the event the Company amends the Terms and Conditions in accordance with the preceding
                        paragraph (a), the Company shall provide advance notice of the effective date of the amendments,
                        the details of the amendments, and the reason for the amendments through the Service. However,
                        if any amendments are disadvantageous to Members, the Company shall provide notice of such
                        amendments through the Service at least 30 days prior to their effective date. Furthermore, the
                        Company shall provide separate notice of such amendments to each Member via email, pop-up
                        screens during logins, or other electronic methods.</li>
                    <li>If a Member disagrees with proposed amendments to the Terms and Conditions, such Member shall be
                        permitted to terminate the User Agreement entered into in accordance with the Terms and
                        Conditions and discontinue his/her use of the Service. </li>
                    <li>Members who do not express their objection to proposed amendments to the Terms and Conditions
                        prior to their effective, despite being notified by the Company in accordance with the preceding
                        paragraph (b) that if they do not express their objection by the effective date of the proposed
                        amendments then they will be deemed to have accepted the proposed amendments, shall be deemed to
                        have agreed to the amendments.</li>
                </ol>

                <h3 class="text-left">Article 5. Changes to and Termination of the Service, Etc.</h3>
                <ol class="text-left" type="a">
                    <li>The Company may change the contents of the Service if necessary. However, if such changes to the
                        contents of the Service materially affect the rights and obligations of Members, such changes
                        shall be made after providing notice to Members in accordance with the notification procedures
                        set forth in Article 4.</li>
                    <li>The Company may temporarily suspend the provision of the Service in the event its information
                        and communications facilities and equipment require maintenance/repair or replacement,
                        experience a breakdown or communications failure, or there exists significant operational
                        reasons.</li>
                    <li>The Company may, if necessary, conduct periodic inspections for the provision of the Service and
                        temporarily suspend the provision of the Service during the periodic inspections.</li>
                    <li>The Company may suspend the provision of the Service for managerial reasons.</li>
                </ol>

                <h3 class="text-left">Article 6. Placement of Advertisements</h3>
                <ul class="text-left" style="list-style-type: none;">
                    <li>The Company reserves the right to place the Company’s advertisements or those of third parties
                        on the Service.</li>
                </ul>

                <h3 class="text-left">Article 7. Rights and Obligations of Members</h3>
                <ol class="text-left" type="a">
                    <li>Members may personally and non-commercially use contents provided through the Service such as
                        membership surveys, Paid Contents(hereinafter collectively referred to as the “Contents”), and
                        engage in any activity that the Company permits through the Service (for example, creating
                        replies to posts).</li>
                    <li>Members will not acquire any rights to the Contents other than the limited rights specified in
                        the preceding paragraph (a).</li>
                    <li>Members shall refrain from using the Contents as below or in any manner that is beyond the scope
                        of use permitted under this Article. Members shall bear all civil and criminal liability
                        resulting from their unauthorized use of the Contents.
                        <ol class="text-left">
                            <li>Creating separate video files of the Contents without the Company’s permission</li>
                            <li>Posting the Contents on the internet without the Company’s permission</li>
                            <li>Providing the Contents to third parties without the Company’s permission</li>
                            <li>Any other acts that infringe the copyrights of the Contents</li>
                        </ol>
                    </li>
                    <li>Members shall not engage in any activity that interferes with the provision of the Service or
                        access servers and network systems used for the Service without authorization.</li>
                    <li>Members shall not engage in any of the following activities:
                        <ol class="text-left">
                            <li>Provide false information to the Company or steal information from third parties </li>
                            <li>Activities that infringe the copyrights or other intellectual property rights of the
                                Company or third parties </li>
                            <li>Activities that defame or disturb the business of the Company or third parties</li>
                            <li>Use the Service for commercial purposes without the consent of the Company </li>
                            <li>Impersonating the Company or intentionally spreading false information in connection
                                with the Service </li>
                            <li>Other illegal or unlawful activities prohibited by relevant laws such as the Act on
                                Promotion of Information and Communications Network Utilization and Information
                                Protection (hereinafter referred to as the “Network Act”). </li>
                        </ol>
                    </li>
                    <li>Members shall be responsible for managing their IDs and passwords and shall be solely
                        responsible for any and all damages caused by their intentional or negligent acts or omissions.
                        Members shall promptly notify the Company and follow the Company’s instructions, if any, in the
                        event they become aware that their ID or password has been stolen or is being used by a third
                        party.</li>
                </ol>

                <h3 class="text-left">Article 8. Policy for Creation/Operation of Member Content and Sanctions for
                    Violations Thereof</h3>
                <ol class="text-left" type="a">
                    <li>All content created by Members including posts and replies thereto (hereinafter collectively
                        referred to as “Member Content”) shall be governed by the provisions of this Article. </li>
                    <li>Prohibited Acts: Members shall refrain from creating any Member Content related to the contents
                        below or engage in any acts prohibited below.
                        <ol class="text-left">
                            <li>Content that defames the reputation of or slanders (without basis) the Company or third
                                parties (including artists affiliated with the Company)</li>
                            <li>Activities or content that are contrary to public morals such as swearing,
                                obscene/vulgar content, or violent content</li>
                            <li>Content that causes persistent fear or anxiety without basis </li>
                            <li>Content related to fraudulent acts prohibited by law</li>
                            <li>Content that discloses content that qualifies as a trade secret or state secret under
                                law </li>
                            <li>Content whose purpose is the commission or aiding/abetting of a crime</li>
                            <li>Content that is prohibited from being posted under other relevant laws and regulations
                            </li>
                            <li>Acts prohibited under Article 7 (3) to Article 7 (5) hereunder including the act of
                                repeatedly posting the same or similar Member Content </li>
                        </ol>
                    </li>
                    <li>Sanctions: Members may be subject to the following measures if they engage in any prohibited
                        acts in the preceding paragraph (b).
                        <ol class="text-left">
                            <li>Member Content that has been confirmed as violating the preceding paragraph (b) or that
                                has been reported as violating the same in excess of a certain number of times shall be
                                automatically deleted on a temporary basis and may be restored if the Member responsible
                                for its creation successfully establishes that such Member Content does not violate the
                                preceding paragraph (b). </li>
                            <li>Members responsible for creating Member Content that has been confirmed as violating the
                                preceding paragraph (b) or that has been reported as violating the same in excess of a
                                certain number of times shall be automatically restricted from creating additional
                                Member Content for a certain period of time and this restriction may be removed if the
                                Member successfully establishes that such Member Content does not violate the preceding
                                paragraph (b). </li>
                        </ol>
                        <em>※ The criteria for determining the number of violations that will result in the sanctions
                            specified in the preceding subparagraphs (1) or (2) and the duration of such sanctions shall
                            be determined on a regular basis after considering an appropriate threshold that can protect
                            the Service and Members from improper content in the course of operating the Service.</em>
                    </li>
                    <li>Company’s right to use Member Content: the Company may use Member Content if deemed necessary.
                    </li>
                </ol>

                <h3 class="text-left">Article 9. Restrictions on Use</h3>
                <ol class="text-left" type="a">
                    <li>The Company may temporarily or permanently restrict the use of the Service by a Member as below.
                    </li>
                    <li>Temporary restriction of use
                        <ol class="text-left">
                            <li>If the Member violates his/her obligations in Article 7 </li>
                            <li>If the Member violates the policy for creation/operation of Member Content in Article 8
                            </li>
                        </ol>
                    </li>
                    <li>Permanent restriction of use
                        <ol class="text-left">
                            <li>If the Member repeatedly violates his/her obligations in Article 7 </li>
                            <li>If the Member’s violation of his/her obligations in Article 7 constitutes a crime </li>
                            <li>If the Member repeatedly violates the policy for creation/operation of Member Content in
                                Article 8 </li>
                            <li>If the Member’s violation of the policy for creation/operation of Member Content in
                                Article 8 constitutes a crime</li>
                        </ol>
                    </li>
                </ol>

                <h3 class="text-left">Article 10. Rights, Obligations and Indemnities of the Company</h3>
                <ol class="text-left" type="a">
                    <li>The Company reserves all rights to the Service. </li>
                    <li>The Company shall endeavor to provide the Service in a stable manner, but upon the occurrence of
                        an act of God, war, or any other force majeure event, or if temporary suspension in accordance
                        with Article 5 becomes necessary, the Service may be suspended or discontinued, and in no event
                        shall the Company be responsible or liable for such suspension or discontinuation of the
                        Service. </li>
                    <li>The Company shall not be liable for any damages arising from the use of the Contents by Members
                        unless any intent or negligence can be attributed to the Company.</li>
                </ol>

                <h3 class="text-left">Article 11. Notification</h3>
                <ol class="text-left" type="a">
                    <li>The Company may individually notify Members by using their e-mail address unless otherwise
                        specified in the Terms and Conditions. </li>
                    <li>Notwithstanding the preceding paragraph (a), if the Company needs to notify an unspecified
                        number of multiple users, the Company may substitute providing notice individually to Members in
                        accordance with the preceding paragraph (a) by providing notice through the starting page of the
                        Service for a period of at least 7 days.</li>
                </ol>

                <h3 class="text-left">Article 12. Inactive Accounts</h3>
                <ul class="text-left" style="list-style-type: none;">
                    <li>If a Member has failed to use the Service for more than a year, his/her account shall be
                        classified as a dormant account in order to ensure the smooth management of Members, and the
                        Company may restrict the activities and use of Weverse Shop Cash of Members with dormant
                        accounts. </li>
                </ul>

                <h3 class="text-left">Article 13. Liability</h3>
                <ul class="text-left" style="list-style-type: none;">
                    <li>The Company and the Member shall each be liable for any damages they inflict upon the other
                        party. In particular, in the event a Member infringes the copyright of the Contents in violation
                        of Article 7 (3), such Member shall bear all civil and criminal liability resulting from the
                        violation.</li>
                </ul>

                <h3 class="text-left">Article 14. Change of the Entity who Provides the Service</h3>
                <ol class="text-left" type="a">
                    <li>In the event there is a change in the entity providing the Service due to a whole or partial
                        business transfer or merger, a division of personnel or property, or the transfer of assets,
                        etc., the Company shall notify Members regarding the transfer of their personal information.
                    </li>
                    <li>In the event there is a change in the entity providing the Service in accordance with paragraph
                        (a), the User Agreement entered into between the Company and the Member in accordance with the
                        Terms and Conditions shall be wholly assigned to the new entity providing the Service. </li>
                    <li>The Company shall provide the Member with information on the methods and procedures for
                        withdrawing his/her consent for the collection and use of personal information in the event such
                        Member objects to the transfer of his/her personal information or the assignment of the User
                        Agreement.</li>
                </ol>

                <h3 class="text-left">Article 15. Governing Law and Jurisdiction</h3>
                <ol class="text-left" type="a">
                    <li>The Terms and Conditions shall be governed by the laws of the Republic of the Philippines, and
                        the courts of the Republic of the Philippines shall have jurisdiction over any disputes arising
                        from or related to the Terms and Conditions. </li>
                    <li>Any disputes arising between the Company and the Member shall be submitted to a court having
                        jurisdiction over the Member’s address when the complaint is filed, and in case the Member’s
                        address cannot be ascertained, the district court having jurisdiction over the Member’s
                        residence shall have exclusive jurisdiction. Provided, however, if the Member’s address or
                        residence is not clear when the complaint is filed, the dispute shall be referred to a competent
                        court in accordance with the Civil Procedure Act. </li>
                </ol>
                <p>&nbsp;</p>
                <p class="text-left">
                    <small>Terms and Conditions version number: <strong>V1.0</strong></small></br>
                    <small>Effective date: <strong>2022.04.26</strong></small>
                </p>
            </div>
        </div>
    </div>
</section>