<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
<script>
    /**
 * Determine the mobile operating system.
 * This function returns one of 'iOS', 'Android', 'Windows Phone', or 'unknown'.
 *
 * @returns {String}
 */
function getMobileOperatingSystem() {
    var userAgent = navigator.userAgent || navigator.vendor || window.opera;

    // Windows Phone must come first because its UA also contains "Android"
    if (/windows phone/i.test(userAgent)) {
        //return "Windows Phone";
        window.location.replace("/landing-win");
    }

    if (/android/i.test(userAgent)) {
        // return "Android";
        window.location.replace("/landing-android");
    }

    // iOS detection from: http://stackoverflow.com/a/9039885/177710
    if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
        //return "iOS";
        window.location.replace("/landing-ios");

    }

    //return "unknown";
    window.location.replace("/");
}
document.write(getMobileOperatingSystem());
</script>
</body>

</html>